.root {
    -fx-background-image: url("../images/background.jpg");
}
Label {
    -fx-font-size: 14px;
    -fx-font-family: "Lucida Sans Unicode";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}
#welcome-text {
    -fx-font-size: 22px;
    -fx-font-family: "Lucida Sans Unicode";
    -fx-text-fill: linear-gradient(black 30%, white);
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 3, 0, 2, 2.1);
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Lucida Sans Unicode";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2a5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 2, 2);
}
.button:hover {
    -fx-background-color: linear-gradient(#2a5058, #61a2b1);
}
.button:pressed {
    -fx-background-color: linear-gradient(yellow, #61a2b1);
}

